In [1]:
#Jacob Creasy 
#Final Project File 2
#November 26, 2021
#attempting to take a csv file and create a 'bar chart race' with the given data

import pandas as pd
#https://matplotlib.org/stable/users/index
import matplotlib.pyplot as plt #https://matplotlib.org/stable/api/pyplot_summary.html
import matplotlib.ticker as ticker #https://matplotlib.org/stable/api/ticker_api.html
import matplotlib.animation as animation #https://matplotlib.org/stable/api/animation_api.html
from IPython.display import HTML #https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html
import datetime

In [3]:
df = pd.read_csv('ViewingActivity_copy.csv') #reading my csv file and showing the first few lines
df.head() #show first few lines to determine which columns need removed becasue their data is not important

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Jacob,2021-10-21 15:18:12,00:08:56,NaN,Dave Chappelle: The Closer,NaN,iPhone 12 Pro Max,00:08:46,00:08:46,US (United States)
1,Jacob,2021-10-21 15:17:47,00:00:23,Autoplayed: user action: None;,Trailer: Dave Chappelle: The Closer,TRAILER,iPhone 12 Pro Max,00:00:23,00:00:23,US (United States)
2,Jacob,2021-10-18 16:57:23,00:07:59,NaN,Hancock,NaN,Safari MAC (Cadmium),00:15:09,00:15:09,DE (Germany)
3,Jacob,2021-10-18 16:55:06,00:00:07,Autoplayed: user action: None;,Season 1 Trailer: Sex Education,TRAILER,Safari MAC (Cadmium),00:00:07,00:00:07,DE (Germany)
4,Jacob,2021-10-18 16:50:24,00:04:10,NaN,Hancock,NaN,Safari MAC (Cadmium),00:07:10,Not latest view,DE (Germany)

In [4]:
#pop the useless columns----could also just do df.drop(['','',''])
df.pop('Profile Name') #https://www.geeksforgeeks.org/delete-a-csv-column-in-python/
df.pop('Supplemental Video Type')
df.pop('Device Type')
df.pop('Bookmark')
df.pop('Latest Bookmark')
df.pop('Country')
df.pop('Attributes')

0                                   NaN
1       Autoplayed: user action: None;
2                                   NaN
3       Autoplayed: user action: None;
4                                   NaN
                     ...
8459                                NaN
8460                                NaN
8461                                NaN
8462                                NaN
8463    Autoplayed: user action: None;
Name: Attributes, Length: 8464, dtype: object

In [5]:
df  #this is our new data set, we still want to get rid of every row with the attribute 'Autoplayed: use action: None'
    #because this is just an automatic preview that plays as your scrolling down looking for a show, not the user 
    #deciding to watch a show or movie and click on it.----Decided to do this through duration and just pop attributes
    #the same needs to be done with start time which I plan to use to great my graphs.

,Start Time,Duration,Title
0,2021-10-21 15:18:12,00:08:56,Dave Chappelle: The Closer
1,2021-10-21 15:17:47,00:00:23,Trailer: Dave Chappelle: The Closer
2,2021-10-18 16:57:23,00:07:59,Hancock
3,2021-10-18 16:55:06,00:00:07,Season 1 Trailer: Sex Education
4,2021-10-18 16:50:24,00:04:10,Hancock
...,...,...,...
8459,2020-12-29 03:42:39,00:53:37,Bridgerton: Season 1: Art of the Swoon (Episod...
8460,2020-12-29 02:28:16,00:58:50,Bridgerton: Season 1: Shock and Delight (Episo...
8461,2020-12-29 01:33:21,00:54:40,Bridgerton: Season 1: Diamond of the First Wat...
8462,2020-12-29 01:09:36,00:01:05,Bridgerton: Season 1: Diamond of the First Wat...
8463,2020-12-29 01:09:26,00:00:04,Season 1 Trailer: Bridgerton

In [6]:
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
#used pd.to_datetime() https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
#UTC is for the time zone identification, started with UTC so we can convert to EST which is done with...
#.tz_convert() catch is that tz.convert can only be used with a Datetimeindex so Start Time first has
#to be set as the index usingn set_index() then we will undo using. reset_index()

In [7]:
df = df.set_index('Start Time')

In [8]:
df.index = df.index.tz_convert('US/Eastern')

df = df.reset_index()

In [9]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/timedeltas.html
df['Duration'] = pd.to_timedelta(df['Duration']) #https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html
#this is necessary, the duration time can now be treated like an integer(timedelta)

In [10]:
df = df[(df['Duration'] > '0 days 00:01:00')] #getting rid of any row in the duration column under one minute

In [11]:
df #what our dataframe curretly looks like

,Duration,Title
Start Time,,
2021-10-21 11:18:12-04:00,0 days 00:08:56,Dave Chappelle: The Closer
2021-10-18 12:57:23-04:00,0 days 00:07:59,Hancock
2021-10-18 12:50:24-04:00,0 days 00:04:10,Hancock
2021-10-18 12:42:06-04:00,0 days 00:02:58,Hancock
2021-10-18 10:28:15-04:00,0 days 00:19:09,You: Season 3: And They Lived Happily Ever Aft...
...,...,...
2020-12-29 19:09:16-05:00,0 days 00:11:00,Bridgerton: Season 1: An Affair of Honor (Epis...
2020-12-28 22:42:39-05:00,0 days 00:53:37,Bridgerton: Season 1: Art of the Swoon (Episod...
2020-12-28 21:28:16-05:00,0 days 00:58:50,Bridgerton: Season 1: Shock and Delight (Episo...
2020-12-28 20:33:21-05:00,0 days 00:54:40,Bridgerton: Season 1: Diamond of the First Wat...
2020-12-28 20:09:36-05:00,0 days 00:01:05,Bridgerton: Season 1: Diamond of the First Wat...

In [12]:
#Up to this point we have brought our csv file into jupyter notebook and deleted columns that were not necessary.
#We have also converted our start time and durtion columns into datetime and time delta values that for pandas
#We not need to figure out a way to get a list of all of the showing in our. To find one show we could do, 
theoffice = df[df['Title'].str.contains('The Office (U.S.)', regex=False)]
print(theoffice)

                                 Duration  \
Start Time
2020-12-30 14:54:55-05:00 0 days 00:03:56
2020-12-30 14:47:41-05:00 0 days 00:07:13
2020-12-30 13:42:10-05:00 0 days 00:14:26
2020-12-30 13:38:00-05:00 0 days 00:04:08
2020-12-28 16:36:59-05:00 0 days 00:17:28
...                                   ...
2019-10-06 15:37:02-04:00 0 days 00:21:11
2019-10-06 15:35:03-04:00 0 days 00:01:56
2019-10-06 12:02:26-04:00 0 days 00:10:32
2019-10-05 20:06:04-04:00 0 days 00:08:34
2019-10-05 19:09:33-04:00 0 days 00:22:20

                                                                       Title
Start Time
2020-12-30 14:54:55-05:00  The Office (U.S.): Season 6: Niagara: Part 1 (...
2020-12-30 14:47:41-05:00  The Office (U.S.): Season 6: The Promotion (Ep...
2020-12-30 13:42:10-05:00  The Office (U.S.): Season 6: The Promotion (Ep...
2020-12-30 13:38:00-05:00  The Office (U.S.): Season 6: The Meeting (Epis...
2020-12-28 16:36:59-05:00  The Office (U.S.): Season 6: The Meeting (Epis...
...                                                                      ...
2019-10-06 15:37:02-04:00  The Office (U.S.): Season 1: Health Care (Epis...
2019-10-06 15:35:03-04:00  The Office (U.S.): Season 1: Diversity Day (Ep...
2019-10-06 12:02:26-04:00  The Office (U.S.): Season 1: Diversity Day (Ep...
2019-10-05 20:06:04-04:00  The Office (U.S.): Season 1: Diversity Day (Ep...
2019-10-05 19:09:33-04:00     The Office (U.S.): Season 1: Pilot (Episode 1)

[1397 rows x 2 columns]

In [13]:
#This shows our total time of a single show. We need a function that will do this automatically with all shows in a
#certain user selected time ineterval
#theoffice.pop('Title')
theoffice = theoffice['Duration'].sum()

In [14]:
print(theoffice)

16 days 04:34:03

In [15]:
 new_theoffice=theoffice / datetime.timedelta(hours=1) #turning a datetime value into the amount of hours it is

In [16]:
print(new_theoffice)
print(type(new_theoffice))

388.5675
<class 'float'>

In [17]:
#fig, ax = plt.subplots(figsize=(8, 15)) 
#ax.barh('TheOffice',new_theoffice.sum(),20,10)

In [18]:
#graphing function attempt
def graphfunc(x):
    fig, ax = plt.subplots(figsize=(len(x), len(x))) 
    ax.barh()

In [19]:
def trimNetflixData(x): #x is a dataframe
    df = pd.read_csv('ViewingActivity_copy.csv')
    df.pop('Profile Name')
    df.pop('Supplemental Video Type')
    df.pop('Device Type')
    df.pop('Bookmark')
    df.pop('Latest Bookmark')
    df.pop('Country')
    df.pop('Attributes')
    df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
    df = df.set_index('Start Time') 
    df.index = df.index.tz_convert('US/Eastern')
    df = df.reset_index()
    df['Duration'] = pd.to_timedelta(df['Duration'])
    df = df[(df['Duration'] > '0 days 00:01:00')]
    return df

In [20]:
def turntohours(x): #x in this case is a datetime value
    newx = x/datetime.timedelta(hours=1)
    return newx

In [21]:
def sumfunc(show):
    x = df[df['Title'].str.contains(show, regex=False)]
    x = x['Duration'].sum()
    #return turntohours(x)
    return x

In [22]:
def createDFfromDictonary(d): #Ended up not needing 
    pd.DataFrame.from_dict(d, orient='index')
    return d

In [23]:
def createDictionary(): #eneded up not needing
    for title in df2['title']:
        d[title] = sumfunc(title)

In [24]:
df2 = pd.read_csv('netflix_titles.csv') #bringing in our second csv file that is a list of all netflix shows/movies/etc.

In [25]:
d = {}

In [26]:
sumfunc('Friends') #we now have a function that can take in a show and will output the total time watched.

Timedelta('5 days 13:47:52')

In [27]:
for title in df2['title']:
    d[title] = sumfunc(title)
pd.DataFrame.from_dict(d, orient='index')   
#This is what we were stuck on for the longest period of time. We had a very hard time trying to get a dataframe with two columnsd
#out of the kev:value pairs of the dictionary.  We wanted the values to be in the titles column and the keys to be in 
#the duration column. Anything with no duration would be removed because we arent intersted in stuff I didn't watch

                           0
Dick Johnson Is Dead  0 days
Blood & Water         0 days
Ganglands             0 days
Jailbirds New Orleans 0 days
Kota Factory          0 days
...                      ...
Zodiac                0 days
Zombie Dumb           0 days
Zombieland            0 days
Zoom                  0 days
Zubaan                0 days

[8807 rows x 1 columns]